.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 2px solid green;
  .webIntroAndDeviceInfoContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90%;
    .deviceInfoContainer {
      display: flex;
      width: 45%;
      height: 90%;
      flex-direction: column;
      justify-content: space-around;
      // border: 2px solid yellow;
      .childContainer {
        display: flex;
        .data {
          color: red;
          margin: 0 0 0 10px;
        }
      }
    }
  }
  .generateDataFingerprintCookieButtonContainer {
    display: flex;
    height: 10%;
    width: 100%;
    // border: 2px solid red;
  }
}

@media (max-width: 1265px) {
  .main {
    height: auto;
    flex-direction: column;
    .deviceInfoContainer {
      width: 80%;
      height: 96vh;
      justify-content: space-around;
      align-items: flex-start;
      .childContainer {
        align-items: flex-start;
      }
      .secondClass {
        p {
          &:first-child {
            width: 28%;
            margin: 0;
          }
          &:last-child {
            width: 72%;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    height: auto;
    flex-direction: column;
    .deviceInfoContainer {
      width: 92%;
      height: 800px;
      justify-content: space-around;
      align-items: flex-start;
      .childContainer {
        align-items: flex-start;
      }
      .secondClass {
        p {
          &:first-child {
            width: 28%;
            margin: 0;
          }
          &:last-child {
            width: 72%;
          }
        }
      }
      .buttonContainer {
        button {
          width: 250px;
        }
      }
    }
  }
}
