.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .isLoading {
    font-size: 1.6rem;
  }
  .deviceInfoContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
    .childContainer {
      display: flex;
      p {
        &:first-child {
          margin: 0 10px 0 0;
        }
        &:last-child {
          font-weight: bold;
          color: red;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .main {
    .deviceInfoContainer {
      width: 92%;
      height: 96vh;
      justify-content: space-around;
      align-items: flex-start;
      .childContainer {
        align-items: flex-start;
      }
      .secondClass {
        p {
          &:first-child {
            width: 28%;
            margin: 0;
          }
          &:last-child {
            width: 72%;
          }
        }
      }
    }
  }
}
